<div class="container text-center">
    
    <div id="<%= bookmark.id %>" class="card mx-auto row col-6" >
    
        <p>
            <strong>name: <%= bookmark.name %></strong>
            <br>
            <strong>url: <a href=<%= bookmark.url %>><%= bookmark.url %></a></strong>
            <br>
            <strong>category: 
                <% bookmark.categories.each do |c| %>
                        <%= c.name %> 
                <% end %>
            </strong>
        </p>
        
        <small class="text-muted display-12">
            <td><%= link_to 'Edit', edit_bookmark_path(bookmark), remote: true %></td>
            <td><%= link_to 'Destroy', bookmark, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %></td>
        </small>
        <p>
            <small class="text-muted display-12">created_at : <%= link_to time_ago_in_words(bookmark.created_at),bookmark %></small>
        </p>
        
    </div>
    
</div>

